{% extends '_base.html' %}
{% block nav %}
  <header class="py-3 mb-3 bg-primary border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="material-symbols-outlined text-light me-2" style="font-size:37px;">
            holiday_village
          </span>
          <h2 class="text-light" style="font-size:18;margin-bottom: 0px;">
          House Gen</h2>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>
          <li><a class="dropdown-item" href="#">Inventory</a></li>
          <li><a class="dropdown-item" href="#">Customers</a></li>
          <li><a class="dropdown-item" href="#">Products</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Reports</a></li>
          <li><a class="dropdown-item" href="#">Analytics</a></li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <form class="w-100 me-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="{% url 'new_project' %}">New project</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}">Projects</a></li>
            <li><a class="dropdown-item" href="{% url 'pricing' %}">Pricing</a></li>
            <li><hr class="dropdown-divider"></li>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <li><button class="dropdown-item" type="submit">Sign out</button></li>
            </form>
          </ul>
        </div>
      </div>
    </div>
  </header>
{% endblock nav %}
{% block body %}
{% endblock body %}