{% extends '_dashboard.html' %}
{% block body %}
  {% load static %}
  <div class="container-fluid m-0 p-0">
    <div class="container">
      <div class="row g-5 mt-3">
        <div class="col-md-3">
          <div class="card shadow" style="width: 18rem;">
            <a href="{% url 'new_project' %}" class="text-decoration-none">
              <div class="card-body">
                <div class="text-primary"><span style="font-size:48px;" class="material-symbols-outlined">
                  add
                </span></div>
                <h2 class="card-title">Add</h2>
                <h2 class="card-title mb-3">New Project</h2>
              </div>
            </a>
          </div>
        </div>
        {% for project in projects %}
          <div class="col-md-3">
            <div class="card shadow" style="width: 18rem;">
              <div class="card-body">
                <a class="text-decoration-none" href="{% url 'project_detail' project_id=project.pk %}">
                  <h3 class="card-title">{{ project.name }}</h3>
                </a>
                <p class="card-text" style="font-size: 14px;">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="card-link">Goto Project</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock body %}